In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
from itertools import combinations
from scipy.stats import linregress
import datetime
datetime.datetime.strptime
import seaborn as sns


#python -m pip install numpy scikit-learn statsmodels

In [5]:
lista_file = [
    #"APPA_2_Parco S. Chiara.csv",
    "APPA_6_Rovereto.csv",
    "APPA_8_Borgo Valsugana.csv",
    "APPA_9_Riva del Garda.csv",
    "APPA_15_Monte Gaza.csv",
    "APPA_22_Piana Rotaliana.csv",
]

start_date="2020/01/01"
end_date="2023/01/01"

In [6]:
DF_Ozone=pd.DataFrame()
df_SChiara = pd.read_csv(
"Trento\\DataSet_APPA_TRENTO\\DataSet_APPA_(2013-2023)\\APPA_2_Parco S. Chiara.csv",
na_values="n.d.",
)
df_SChiara ["Data"]=pd.to_datetime(df_SChiara ["Data"])
df_SChiara .sort_values(by="Data", inplace=True)
df_SChiara .set_index('Data', inplace=True)
df_SChiara= df_SChiara.loc[start_date:end_date,:]

#df_SChiara[(df_SChiara["Data"]<pd.Timestamp(2023,1,1)) & (df_SChiara["Data"]>pd.Timestamp(2020,1,1))]
df_SChiara=df_SChiara["Ozone"]

DF_Ozone["APPA_2_Parco S. Chiara.csv"]=df_SChiara
#print(df_SChiara)

In [7]:


for file in lista_file:
    Appa = pd.read_csv(
    "Trento\\DataSet_APPA_TRENTO\\DataSet_APPA_(2013-2023)\\"+file,
    na_values="n.d.",
    )
    
    Appa["Data"]=pd.to_datetime(Appa["Data"])
    Appa.sort_values(by="Data", inplace=True)

    newName="Ozone"+file
    Appa.rename(columns={"Ozone":newName},inplace=True)
    Appa = Appa.set_index("Data")
    Appa = Appa[start_date:end_date]
    Appa.reset_index(inplace = True)
    #print(Appa)
    #print(DF_Ozone)
    DF_Ozone=DF_Ozone.reset_index().merge(Appa[["Data",newName]],how="left",on="Data").set_index("Data")
    #Appa[(Appa["Data"]<pd.Timestamp(2023,1,1)) & (Appa["Data"]>pd.Timestamp(2020,1,1))]
    #Appa= Appa.filter[start_date:end_date,:]
    
    #Appa=Appa["Ozone"]
    #Appa.reset_index()
    #Appa_Ozone.insert(pos,file,Appa.Ozone)
    #pos=pos+1
    #DF_Ozone[file]=Appa
    #print(Appa_Ozone)

DF_Ozone

,APPA_2_Parco S. Chiara.csv,OzoneAPPA_6_Rovereto.csv,OzoneAPPA_8_Borgo Valsugana.csv,OzoneAPPA_9_Riva del Garda.csv,OzoneAPPA_15_Monte Gaza.csv,OzoneAPPA_22_Piana Rotaliana.csv
Data,,,,,,
2020-01-01 00:00:00,4.0,4.0,4.0,6.0,87.0,7.0
2020-01-01 01:00:00,4.0,4.0,3.0,6.0,86.0,10.0
2020-01-01 02:00:00,4.0,3.0,3.0,6.0,86.0,12.0
2020-01-01 03:00:00,4.0,5.0,3.0,13.0,86.0,19.0
2020-01-01 04:00:00,3.0,3.0,3.0,11.0,87.0,14.0
...,...,...,...,...,...,...
2023-01-01 19:00:00,4.0,7.0,2.0,NaN,62.0,3.0
2023-01-01 20:00:00,4.0,6.0,3.0,NaN,61.0,3.0
2023-01-01 21:00:00,4.0,4.0,2.0,NaN,59.0,2.0
2023-01-01 22:00:00,4.0,6.0,3.0,NaN,61.0,2.0
2023-01-01 23:00:00,4.0,3.0,4.0,NaN,60.0,2.0

In [8]:
DF_Ozone= DF_Ozone.reset_index().drop(["Data"],axis=1)
print(DF_Ozone)

       APPA_2_Parco S. Chiara.csv  OzoneAPPA_6_Rovereto.csv  \
0                             4.0                       4.0
1                             4.0                       4.0
2                             4.0                       3.0
3                             4.0                       5.0
4                             3.0                       3.0
...                           ...                       ...
26296                         4.0                       7.0
26297                         4.0                       6.0
26298                         4.0                       4.0
26299                         4.0                       6.0
26300                         4.0                       3.0

       OzoneAPPA_8_Borgo Valsugana.csv  OzoneAPPA_9_Riva del Garda.csv  \
0                                  4.0                             6.0
1                                  3.0                             6.0
2                                  3.0                             6.0
3                                  3.0                            13.0
4                                  3.0                            11.0
...                                ...                             ...
26296                              2.0                             NaN
26297                              3.0                             NaN
26298                              2.0                             NaN
26299                              3.0                             NaN
26300                              4.0                             NaN

       OzoneAPPA_15_Monte Gaza.csv  OzoneAPPA_22_Piana Rotaliana.csv
0                             87.0                               7.0
1                             86.0                              10.0
2                             86.0                              12.0
3                             86.0                              19.0
4                             87.0                              14.0
...                            ...                               ...
26296                         62.0                               3.0
26297                         61.0                               3.0
26298                         59.0                               2.0
26299                         61.0                               2.0
26300                         60.0                               2.0

[26301 rows x 6 columns]

In [9]:
##ANOVA START #
print(DF_Ozone)

df_melt=pd.melt(
    DF_Ozone.reset_index(), 
    id_vars=["index"], 
    value_vars=["APPA_2_Parco S. Chiara.csv",
    "APPA_6_Rovereto.csv",
    "APPA_8_Borgo Valsugana.csv",
    "APPA_9_Riva del Garda.csv",
    "APPA_15_Monte Gaza.csv",
    "APPA_22_Piana Rotaliana.csv",]
)

df_melt.columns=["index","treatments","value"]

ax=sns.boxplot(x="treatments",y="value", data=df_melt, color="#99c2a2")
ax=sns.boxplot(x="treatments",y="value", data=df_melt, color="#7d0013")

plt.show()

       APPA_2_Parco S. Chiara.csv  OzoneAPPA_6_Rovereto.csv  \
0                             4.0                       4.0
1                             4.0                       4.0
2                             4.0                       3.0
3                             4.0                       5.0
4                             3.0                       3.0
...                           ...                       ...
26296                         4.0                       7.0
26297                         4.0                       6.0
26298                         4.0                       4.0
26299                         4.0                       6.0
26300                         4.0                       3.0

       OzoneAPPA_8_Borgo Valsugana.csv  OzoneAPPA_9_Riva del Garda.csv  \
0                                  4.0                             6.0
1                                  3.0                             6.0
2                                  3.0                             6.0
3                                  3.0                            13.0
4                                  3.0                            11.0
...                                ...                             ...
26296                              2.0                             NaN
26297                              3.0                             NaN
26298                              2.0                             NaN
26299                              3.0                             NaN
26300                              4.0                             NaN

       OzoneAPPA_15_Monte Gaza.csv  OzoneAPPA_22_Piana Rotaliana.csv
0                             87.0                               7.0
1                             86.0                              10.0
2                             86.0                              12.0
3                             86.0                              19.0
4                             87.0                              14.0
...                            ...                               ...
26296                         62.0                               3.0
26297                         61.0                               3.0
26298                         59.0                               2.0
26299                         61.0                               2.0
26300                         60.0                               2.0

[26301 rows x 6 columns]

KeyError: "The following 'value_vars' are not present in the DataFrame: ['APPA_15_Monte Gaza.csv', 'APPA_22_Piana Rotaliana.csv', 'APPA_6_Rovereto.csv', 'APPA_8_Borgo Valsugana.csv', 'APPA_9_Riva del Garda.csv']"